extends ../../partials/base

block variables
    - var title = 'Modal | A11YUI'
    - var assetPath = '../../'

block page
    .page
        .container
            .grid
                .cell.span-2
                    include ../../partials/patterns
    
                .cell.span-8
                    h1 Modal
                    button.button(data-open-modal='#modal') Open Modal
                    
                    section.example
                        ul.tab-list
                            li.tab.is--active
                                a(href="") HTML
                            li.tab
                                a(href="") JS
                        #html.tab-panel
                        #js.tab-panel

                    section.requirements
                        h2.h3 Requirements
                        h3.h5 Opening the modal
                        ol
                            li Place modal HTML as a direct child of the <code class="code">&lt;body&gt;</code>
                            li Add <code class="code">.u--no-scroll</code> class to the <code class="code">&lt;body&gt;</code> 
                            li Add <code class="code">aria-hidden="true"</code> to all siblings of the modal
                        h3.h5 Inside the modal
                        ol
                            li Once the modal is open, focus the user on the first focusable element within the modal.
                            li Trap the users focus inside of the modal
                            li Allow the user to close the modal by pressing the escape key
                        h3.h5 Closing the modal
                        ol
                            li Add <code class="code">display: none;</code> or remove the modal from the DOM
                            li Remove <code class="code">.u--no-scroll</code> class from the <code class="code">&lt;body&gt;</code> 
                            li Remove <code class="code">aria-hidden="true"</code> from all siblings of the modal
                            li Place the users focus on the element that triggered the modal in the first place

    #modal.modal-overlay(style='display: none;', data-example="html")
        .modal.card(role='dialog')
            button.button.button--close(data-trap-start, data-open-focus, data-close-modal, type='button')
                span.icon.icon--close(aria-hidden='true')
            h1.card__title Modal Example
            .card__body
                p
                    | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad aspernatur vero laborum alias est, repudiandae eius esse voluptate ex sit neque quidem reiciendis, accusantium dolorum distinctio aliquam non deserunt sequi.
            .card__footer
                button.button(data-close-modal, data-trap-end) Done

    script(src="modal.js", data-example="js")