doctype html
html(lang="en")
    head
        meta(charset="utf-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        link(rel="shortcut icon", type="image/x-icon", href="favicon.ico")
        meta(name="viewport", content="width=device-width, initial-scale=1")
        block title
        link(rel="stylesheet", href="//d2725r7zw288co.cloudfront.net/cdn/v1/corp-gen/harmony.css")
        link(rel="stylesheet", href="/css/a11yui.css")
    body
        .masthead
            .container
                a.masthead__brand(href="/") A11YUI

        main.page
            block page 

        script.
            window.ga=function(){ga.q.push(arguments)};ga.q=[];ga.l=+new Date;
            ga('create','UA-XXXXX-Y','auto');ga('send','pageview')
        script(src="https://www.google-analytics.com/analytics.js" async, defer)