nav.side-nav
    h2.side-nav__title Patterns
    ul
        li
            a(href="/patterns/dropdown") Dropdown
        li
            a(href="/patterns/form") Form
        li
            a(href="/patterns/modal") Modal
        li
            a(href="/patterns/speaker") Speaker