extends partials/base

//- Hello World
//- <!doctype html>
//- <html class="no-js" lang="en">
//-     <head>
//-         <meta charset="utf-8">
//-         <meta http-equiv="x-ua-compatible" content="ie=edge">
//-         <title>A11YUI</title>
//-         <meta name="description" content="">
//-         <meta name="viewport" content="width=device-width, initial-scale=1">
//-         <!-- <link rel="stylesheet" href="/css/harmony.css"> -->
//-         <link rel="stylesheet" href="//d2725r7zw288co.cloudfront.net/cdn/v1/corp-gen/harmony.css">
//-         <link rel="stylesheet" href="/css/main.css">
//-     </head>
//-     <body>

//-         <nav class="masthead">
//-             <div class="container">
//-                 <a href="/" class="masthead__brand">a11yui</a>
//-             </div>
//-         </nav>

//-         <main>
//-             <div class="splash">
//-                 <div class="container"> 
//-                     <h1>A11YUI</h1>
//-                     <p>Building an accessible web app doesn't mean you have to compromise on design. A11YUI is a collection of accessible UI patterns crafted with aesthetics and user experience at the forefront.</p>
//-                 </div>
//-             </div>

//-             <div class="container">
//-                 <h2>Components</h2>
//-                 <ul>
//-                     <li><a href="/components/dropdown">Dropdown</a></li>
//-                     <li><a href="/components/live">Live</a></li>
//-                     <li><a href="/components/modal">Modal</a></li>
//-                     <li><a href="/components/progrss">Progress</a></li>
//-                     <li><a href="/components/validation">Validation</a></li>
//-                 </ul>
//-             </div>
            
//-         </main>

//-      <!--    <script>
//-             window.ga=function(){ga.q.push(arguments)};ga.q=[];ga.l=+new Date;
//-             ga('create','UA-XXXXX-Y','auto');ga('send','pageview')
//-         </script>
//-         <script src="https://www.google-analytics.com/analytics.js" async defer></script> -->
//-     </body>
//- </html>