extends partials/base

block variables
    - var title = 'Home | A11YUI'
    - var assetPath = ''

block page
    .container
        section.splash
            h1 A11YUI
            p Collection of accessible UI patterns<br> crafted with aesthetics and user experience<br> at the forefront.
        section.patterns
            h2 Patterns
            ul
                li
                    a(href="/patterns/modal") Modal
                li
                    a(href="/patterns/speaker") Speaker
                li
                    a(href="/patterns/dropdown") Dropdown
                li
                    a(href="/patterns/form") Form
                li
                    a(href="") Progress Bar